<DOCTYPE! html>
<html>
	<head>
		<link type="text/css" href="/stylesheets/website.css" rel="Stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<title>contact</title>
		
		<script type="text/javascript">
   			function toggle_visibility(id) {
       			var e = document.getElementById(id);
    			e.style.display = (e.style.display == 'inline-block') ? 'none' : 'inline-block';
   			}
		</script>
		
	</head>
	<body style="font-size:120%">
		
		<div class="top">
    		<input type='image' src='/images/menu.png' id='hideshow' alt='hide/show' width='48' height='48' onclick="toggle_visibility('left');"> 
		</div>

		<div class="left" id="left" style="font-size:100%">
    		<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>MENU</b><br><br>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.github.com/michaelonjack">GITHUB</a><br><br>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/info">INFORMATION</a><br><br>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/samples">SAMPLES</a><br><br>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">CONTACT</a><br><br>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/roommates">ROOMMATES</a>
		</div>
		
		<div class="main">
			<center><h1 style="font-size:250%">contact<hr size="1" style="width:100"></h1></center>
			
			<div style="margin-left:2.5cm">
				<h2>
				My name is Michael Onjack.
				<br>
				You can call me at 610-762-1106
				<br>
				Or email me at mikeonjack@gmail.com.
				<br>
				I currently live in Arlington, Virginia.
				<br><br>
		
				<h2>You can also contact me directly by using this form.</h2>
				<br>
				<form method="post" style="font-family: 'Lato', sans-serif">
			
					<label>
						<h2>Your email adress:</h2><br>
						<input name="sender" type="text" value="{{sender}}">
					</label>
					<br><br>
					<label>
						<h2>Subject:</h2><br>
						<input name="title" type="text" value="{{title}}">
					</label>
					<br><br>
					<label>
						<h2>Message:</h2><br>
						<textarea name="body">{{body}}</textarea>
					</label>
					<br><br>
					<input type="submit" value="Send!">
					<br>
					<div name="error" style="color:#FA5858">{{error}}</div>
				</form>
				</h2>
			</div>
			
			<br><br>
			<center><h2><a href="/">home</a></h2></center>
		</div>
	</body>
</html>
