<!DOCTYPE html>
<html lang="en">
<head>
     <title>
         info
    </title>

    <meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="main-body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">home</a></li>
                <li><a href="https://www.github.com/michaelonjack">github</a></li>
                <li class="active"><a href="#">info</a></li>
                <li><a href="/samples">samples</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:3em;">
            <div class="col-xs-12 col-md-12 text-center">
                <h1 style="font-weight:lighter; font-size: 3.5em;">
                    about me
                    <hr style="height:.03em; width:3em; border: none; color:gray; background-color: gray;">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                Hi.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                My name is Michael Onjack.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                I attented the Pennsylvania State University.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                I've earned my degree in Computer Science with a minor in Mathematics.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                I've interned <a style="text-decoration:underline" href="https://www.arl.psu.edu">here</a> and currently work <a style="text-decoration:underline" href="http://www.micropact.com">here</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11 text-left" style="font-size:220%; font-weight:lighter;">
                You can learn more about me <a style="text-decoration:underline" href="/images/RESUME.pdf">here</a> and <a style="text-decoration:underline" href="http://www.github.com/michaelonjack">here</a>.
            </div>
        </div>
    </div>
</body>

</html>