
<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		enter password
	</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="main-body">
	<div class="container-fluid">
		<div class="row" style="margin:200px 0px 30px 0px;">
			<div class="col-xs-12 col-md-12 text-center" style="font-size:450%; font-weight:lighter;">
				<form method="post">
					<div class="form-group text-center">
						<label for="pass_in" style="font-weight:lighter;">enter password</label>
            			<center><input type="password" id="pass_in" class="form-control" name="password" placeholder="password"></center>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class="row" style="margin:50px 0px 0px 0px;">
        	<div class="col-xs-12 col-md-12 text-center">
        		<div name="error" style="font-size:220%; font-weight:normal; color:#FA5858">{{error}}</div>
        	</div>
        </div>
	</div>
</body>
</html>