<DOCTYPE! html>
<html>
	<head>
		<link type="text/css" href="/stylesheets/website.css" rel="Stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<title>roommates - electric</title>
	</head>
	<body style="font-size:120%">
		<center>
		<h1 style="font-size:250%">Electric Bills<hr style="width:160"></h1>
		
		
		August - September
		<br>
		Total: $190.88, Per Person: $17.36
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_august_img"><a href="/images/electric/EB1-August.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$61.31</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_august_img"><a href="/images/electric/EB2-August.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$66.63</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_august_img"><a href="/images/electric/EB3-August.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br></figcaption>
		</figure>
		</td>
		<tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Jesse R, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		
		
		<br>
		
		
		September - October
		<br>
		Total: $233.16, Per Person: $21.20
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-September.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$75.53</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-September.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$64.65</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-September.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$92.98</figcaption>
		</figure>
		</td>
		<tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Jesse R, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		
		<br>
		
		October - November
		<br>
		Total: $256.41, Per Person: 23.31
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-October.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$83.09</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-October.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$71.03</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-October.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$102.29</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Jesse R, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		
		<br>
		
		November - December
		<br>
		Total: $382.88, Per Person: $34.81
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-November.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$171.15</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-November.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$64.41</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-November.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$147.32</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Jesse R, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		
		<br>
		
		December - January
		<br>
		Total: $347.45, Per Person: $31.59
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-December.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$138.20</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-December.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$73.61</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-December.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$135.64</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		<br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="mikeonjack@gmail.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="Electric Bill">
			<input type="hidden" name="amount" value="32">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="tax_rate" value="0.000">
			<input type="hidden" name="shipping" value="0.00">
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			<input style="display: block; margin: 0 auto;" type="image" src="/images/pay_button.png" class="darkableImage" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
		<br><br>
		
		<br>
		
		January - February
		<br>
		Total: $429.80, Per Person: $39.08
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-January.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$272.55</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-January.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$48.43</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-January.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$108.82</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		<br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="mikeonjack@gmail.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="Electric Bill">
			<input type="hidden" name="amount" value="39.7">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="tax_rate" value="0.000">
			<input type="hidden" name="shipping" value="0.00">
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			<input style="display: block; margin: 0 auto;" type="image" src="/images/pay_button.png" class="darkableImage" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
		<br><br>
		
		<br>
		
		February - March
		<br>
		Total: $424.14, Per Person: $38.56
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-February.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$224.44</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-February.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$66.39</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-February.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$133.31</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		<br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="mikeonjack@gmail.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="Electric Bill">
			<input type="hidden" name="amount" value="39.1">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="tax_rate" value="0.000">
			<input type="hidden" name="shipping" value="0.00">
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			<input style="display: block; margin: 0 auto;" type="image" src="/images/pay_button.png" class="darkableImage" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
		<br><br>
		
		</br>
		
		March - April
		<br>
		Total: $473.39, Per Person: $43.04
		<center>
		<table>
		<tr>
		<td>
		<figure>
			<div class="icons" id="eb1_img"><a href="/images/electric/EB1-March.pdf""><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">1st Floor<br>$186.84</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb2_img"><a href="/images/electric/EB2-March.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">2nd Floor<br>$96.38</figcaption>
		</figure>
		</td>
		<td>
		<figure>
			<div class="icons" id="eb3_img"><a href="/images/electric/EB3-March.pdf"><img src="/images/EB.png"/></a></div>
			<figcaption style="text-align: center">House<br>$190.17</figcaption>
		</figure>
		</td>
		</tr>
		</table>
		Paid: Ben H, Drew N, Dylan F, Jesse H, Josh P, Justin R, Nick H, Ryan L, Sean O
		</center>
		<br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="mikeonjack@gmail.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="Electric Bill">
			<input type="hidden" name="amount" value="43.6">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="tax_rate" value="0.000">
			<input type="hidden" name="shipping" value="0.00">
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
			<input style="display: block; margin: 0 auto;" type="image" src="/images/pay_button.png" class="darkableImage" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		</form>
		<br><br>
		
		<br>
		<a href="/">home</a>  |  
		<a href="/roommates/electric">back</a>
		<br>
		</center>
	</body>
	
</html>
		
		
