<!DOCTYPE html>
<html>
<head>
    <title>
        sample code
    </title>

    <meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="main-body">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">home</a></li>
                <li><a href="https://www.github.com/michaelonjack">github</a></li>
                <li><a href="/info">info</a></li>
                <li class="active"><a href="#">samples</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:3em;">
            <div class="col-xs-12 col-md-12 text-center">
                <h1 style="font-weight:lighter; font-size: 3.5em;">
                    samples
                    <hr style="height:.03em; width:3em; border: none; color:gray; background-color: gray;">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-12 cold-md-10 text-center">

                <div class="icon-container" id="kodala_img" style="background-color:salmon">
                    <a href="https://kodala.codes">
                        <img class="icon" src="/images/kodala-icon.png"/>
                        <p class="icon-text">kodala</p>
                    </a>
                </div>

                <div class="icon-container" id="tailgator_img">
                    <a href="https://itunes.apple.com/us/app/tailgator-share-your-gameday/id1386231487?mt=8">
                        <img class="icon" src="/images/tailgator-icon.png"/>
                        <p class="icon-text">tailgator</p>
                    </a>
                </div>

                <div class="icon-container" id="thread_img">
                    <a href="https://itunes.apple.com/us/app/thread-share-what-you-wear/id1203555931?mt=8">
                        <img class="icon" src="/images/thread-icon.png"/>
                        <p class="icon-text">thread</p>
                    </a>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>