<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Michael Onjack • Software Engineer
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/website.js"></script>
</head>

<body data-theme="light" class="main-body">
	<div class="container-fluid">
		<header>
			<div class="row text-right">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<button id="theme-button">🌙</button>
				</div>
			</div>
			<div class="row" style="padding-top: 80px;">
				<div class="col-xs-12 col-md-12 text-center">
					<img class="profile-img" src="images/profile.png" alt="Michael Onjack">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center normal-text">
					<h1>Michael Onjack</h1>
				</div>
			</div>
			<div class="row lightest-text" style="margin-top:1em;">
				<div class="col-xs-0 col-sm-3 col-md-4 col-lg-4"></div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="col-xs-3 col-md-3 text-center">
						<a target="blank" href="https://github.com/michaelonjack" rel="noreferrer noopener nofollow">Github</a>
					</div>
					<div class="col-xs-3 col-md-3 text-center">
						<a target="blank" href="https://apps.apple.com/us/developer/michael-onjack/id1203555930" rel="noreferrer noopener nofollow">App Store</a>
					</div>
					<div class="col-xs-3 col-md-3 text-center">
						<a target="blank" href="images/RESUME.pdf" rel="noreferrer noopener nofollow">Resume</a>
					</div>
					<div class="col-xs-3 col-md-3 text-center">
						<a target="blank" href="mailto:mikeonjack@gmail.com" rel="noreferrer noopener nofollow">Email</a>
					</div>
				</div>
				<div class="col-xs-0 col-sm-3 col-md-4 col-lg-4"></div>
			</div>
		</header>
		<div class="row light-text">
			<div class="col-xs-1 col-md-2"></div>
			<div class="col-xs-10 col-md-8 text-center blurb" style="margin-top: 3em;">
				Software engineer living in <a target="blank" href="https://goo.gl/maps/PFEVytKWjHhfhcNz9">Arlington, Virginia</a>. Currently employed by <a target="blank" href="https://www.tylertech.com">Tyler Technologies</a> in Herndon, Virginia. Graduated from Penn State University majoring in Computer Science with a minor in Mathematics. I enjoy building iOS apps and wondering what my dog is thinking.
			</div>
			<div class="col-xs-1 col-md-2"></div>
		</div>
		<div class="row lightest-text" style="margin-bottom: 1.5em;">
			<div class="col-xs-12 col-md-12">
				<h3>RECENT WORK</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h4>
					Tyler Technologies, Software Engineer
					<span class="tag tag-prof">Professional</span><br>
				</h4>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<h5>
					<a target="blank" href="https://www.tylertech.com">Site</a>
				</h5>
			</div>
		</div>
		<div class="row list-row light-text">
			<div class="col-xs-12 col-md-12">
				<ul>
					<li>Built configurable Workflow Tracking and BPM software systems</li>
					<li>Lead development on a Background Investigations accelerator system equipped with common BI application functionality.</li>
					<li>Developed a LEAP timekeeping module used by multiple OIG systems to track their agents overtime obligations.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<span class="mini-tag tag-swift">Java</span>
				<span class="mini-tag tag-swift">Javascript</span>
				<span class="mini-tag tag-swift">SQLServer</span>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<p class="item-dates">August 2016 - Present</p>
			</div>
		</div>
		<div class="row" style="margin-top:5em;">
			<div class="col-xs-12 col-md-12">
				<h4>
					Imprint, iOS
					<span class="tag tag-pers">Personal</span><br>
				</h4>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<h5>
					<a href="https://github.com/michaelonjack/Imprint">Github</a>
				</h5>
			</div>
		</div>
		<div class="row list-row light-text">
			<div class="col-xs-12 col-md-12">
				<ul>
					<li>Augmented reality-based media sharing application.</li>
					<li>Users can capture pictures and videos and revisit them at the exact location they were taken by viewing them in an AR scene.</li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<span class="mini-tag tag-swift">Swift</span>
				<span class="mini-tag tag-swift">ARKit</span>
				<span class="mini-tag tag-swift">Firebase</span>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<p class="item-dates">2020</p>
			</div>
		</div>
		<div class="row" style="margin-top:5em;">
			<div class="col-xs-12 col-md-12">
				<h4>
					Thread, iOS
					<span class="tag tag-pers">Personal</span><br>

				</h4>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<h5>
					<a href="https://apps.apple.com/us/app/thread-share-what-you-wear/id1203555931">App Store</a>
					&nbsp;&nbsp;&nbsp;
					<a href="https://github.com/michaelonjack/Thread">Github</a>
				</h5>
			</div>
		</div>
		<div class="row list-row light-text">
			<div class="col-xs-12 col-md-12">
				<ul>
					<li>Share what you wear with those around you</li>
					<li>Thread allows you to view what other users are wearing nearby to help you pick out the right outfit</li>
					<li>Users can uploaded pictures of their exact outfit or search for their items by utilizing the vast amount of data provided by the ShopStyle API</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<span class="mini-tag tag-swift">Swift</span>
				<span class="mini-tag tag-swift">JSON</span>
				<span class="mini-tag tag-swift">Firebase</span>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<p class="item-dates">2019</p>
			</div>
		</div>
		<div class="row" style="margin-top:5em;">
			<div class="col-xs-12 col-md-12">
				<h4>
					Tailgator, iOS
					<span class="tag tag-pers">Personal</span><br>
				</h4>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<h5>
					<a href="https://apps.apple.com/us/app/tailgator-share-your-gameday/id1386231487">App Store</a>
					&nbsp;&nbsp;&nbsp;
					<a href="https://github.com/michaelonjack/Tailgate">Github</a>
				</h5>
			</div>
		</div>
		<div class="row list-row light-text">
			<div class="col-xs-12 col-md-12">
				<ul>
					<li>iOS application used to keep track of your college football tailgates.</li>
					<li>Allows users to create new tailgates, invite other users, and track what food and drinks will be brought to your party</li>
					<li>Features real-time score updates for major-conference games by pinging an endpoint that runs a python script which parses the score data from an HTML page</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<span class="mini-tag tag-swift">Swift</span>
				<span class="mini-tag tag-swift">Python</span>
				<span class="mini-tag tag-swift">JSON</span>
				<span class="mini-tag tag-swift">Firebase</span>
			</div>
		</div>
		<div class="row lighter-text">
			<div class="col-xs-12 col-md-12">
				<p class="item-dates">2018</p>
			</div>
		</div>
		<div class="row" style="margin: 5em 0 5em 0;">
			<div class="col-xs-12 col-md-12 text-center">
				<button id="high-five-button">✋</button><br>
				Thanks for reading!
			</div>
		</div>
	</div>
</body>

</html>