<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		michaelonjack
	</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/stylesheets/website.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body class="main-body">
	<div class="container-fluid">
		<div class="row" style="margin:100px 0px 30px 0px;">
			<div class="col-xs-12 col-md-12 text-center">
				<h1 style="font-weight:lighter; font-size: 4.5em;">
					michael onjack
					<hr style="height:.004em; width:4.6em; border: none; color:gray; background-color: gray;">
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-xs-12 cold-md-10 text-center">

				<div class="icon-container" id="github_img" style="background-color:DimGray">
					<a href="http://www.github.com/michaelonjack">
						<img class="icon" src="/images/github.png"
							onmouseover="this.src='/images/github_click.png'"
							onmouseout="this.src='/images/github.png'"
						/>
					</a>
				</div>

				<div class="icon-container" id="info_img">
					<a href="/info">
						<img class="icon" src="/images/info.png"
							onmouseover="this.src='/images/info_click.png'"
							onmouseout="this.src='/images/info.png'"
						/>
					</a>
				</div>

				<div class="icon-container" id="samples_img">
					<a href="/samples">
						<img class="icon" src="/images/coding.png"
							onmouseover="this.src='/images/coding_click.png'"
							onmouseout="this.src='/images/coding.png'"
						/>
					</a>
				</div>

				<div class="icon-container" id="contact_img">
					<a href="/contact">
						<img class="icon" src="/images/contact.png"
							onmouseover="this.src='/images/contact_click.png'"
							onmouseout="this.src='/images/contact.png'"
						/>
					</a>
				</div>

				<div class="icon-container" id="roommates_img">
					<a href="/roommates">
						<img class="icon" src="/images/roommates.png"
							onmouseover="this.src='/images/roommates_click.png'"
							onmouseout="this.src='/images/roommates.png'"
						/>
					</a>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</body>

</html>